@font-face {
    font-family: Iransans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.ttf');
}

body,h1,h2,h3,h4,h5,h6,a,p{
    font-family:Iransans !important;
}

.font_xx_l{
    font-size: xx-large;
}

.avater_img_size{
    width: 77px !important;
    height: 77px !important;
}