@font-face {
    font-family: Iransans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.ttf');
}

body,h1,h2,h3,h4,h5,h6,a{
    font-family:Iransans !important;
}


